[submodule "libs/providers/flagd/schemas"]
	path = libs/providers/flagd/schemas
	url = https://github.com/open-feature/schemas
[submodule "libs/providers/flagd-web/src/schemas"]
	path = libs/providers/flagd-web/src/schemas
	url = https://github.com/open-feature/schemas.git
