name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: bufbuild/buf-setup-action@v1.28.1
        with:
          github_token: ${{ github.token }}
      - uses: nrwl/nx-set-shas@v3
      - run: npm ci

      - run: npx nx workspace-lint
      - run: if ! npx nx format:check ; then echo "Format check failed. Please run 'npx nx format:write'."; fi
      - run: npx nx affected --target=lint --parallel=3
      - run: npx nx affected --target=test --parallel=3 --ci --code-coverage
      - run: npx nx affected --target=build --parallel=3

  e2e:
      runs-on: ubuntu-latest

      services:
        flagd:
          image: ghcr.io/open-feature/flagd-testbed:v0.5.1
          ports:
            - 8013:8013
        flagd-unstable:
          image: ghcr.io/open-feature/flagd-testbed-unstable:v0.4.11
          ports:
            - 8014:8013
        sync:
          image: ghcr.io/open-feature/sync-testbed:v0.4.11
          ports:
            - 9090:9090
        sync-unstable:
          image: ghcr.io/open-feature/sync-testbed-unstable:v0.4.11
          ports:
            - 9091:9090

      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0
            submodules: recursive
        - uses: actions/setup-node@v4
          with:
            # we need 'fetch' for this test, which is only in 18+
            node-version: 18
            cache: 'npm'

        - name: Install
          run: npm ci

        - uses: bufbuild/buf-setup-action@v1.28.1
          with:
            github_token: ${{ github.token }}

        - name: e2e
          run: npm run e2e
