name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint-test-build:
    # Needed for nx-set-shas when run on the main branch
    permissions:
      actions: read
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - uses: nrwl/nx-set-shas@v3
      # This line is needed for nx affected to work when CI is running on a PR
      - run: git branch --track main origin/main || true

      - run: npx nx workspace-lint
      - run: if ! npx nx format:check ; then echo "Format check failed. Please run 'npx nx format:write'."; fi
      - run: npx nx affected --target=lint --parallel=3
      - run: npx nx affected --target=test --parallel=3 --ci --code-coverage
      - run: npx nx affected --target=build --parallel=3

  e2e:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0
            submodules: recursive
        - uses: actions/setup-node@v4
          with:
            # we need 'fetch' for this test, which is only in 18+
            node-version: 18
            cache: 'npm'

        - name: Install
          run: npm ci

        - name: e2e
          run: npm run e2e
