on:
  push:
    branches:
      - main
name: Run Release Please
jobs:
  release-please:
    environment: publish
    runs-on: ubuntu-latest

    # Release-please creates a PR that tracks all changes
    steps:
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main

      # The logic below handles the npm publication:
      - name: Checkout Repository
        if: ${{ steps.release.outputs.releases_created }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: bufbuild/buf-setup-action@a47c93e0b1648d5651a065437926377d060baa99 # v1.50.0
        with:
          github_token: ${{ github.token }}
      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        if: ${{ steps.release.outputs.releases_created }}
        with:
          node-version-file: '.nvmrc'
          registry-url: "https://registry.npmjs.org"
          cache: 'npm'
      - name: Update npm (for OIDC auth)
        run: npm install -g npm@^11.5.1
      - name: Build Packages
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          npm install
          npm run package

      # Release Please has already incremented versions and published tags, so we just
      # need to publish all unpublished versions to NPM here
      # Our scripts only publish versions that do not already exist.
      - name: Publish to NPM
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NPM_CONFIG_PROVENANCE: true
        run: npm run publish
